<hr>
<h3>Adding A Task </h3>

<!--naming RORM GROUP as:"newTask"-->  
<!--binding event ngsubmit as event triger to: 1)add_task() func. 2)reset all input fields 3)put system value to non input property(creat date) -->
<form [formGroup]="newTask" (ngSubmit)="add_task() ; this.newTask.reset() ;this.newTask.controls.created.value = today_date " >

    <label> Number: </label> <input type="Number" placeholder="task number" formControlName="task_numbr"> 
	<span *ngIf="!newTask.controls.task_numbr.valid">Must Enter Positive Numeric Value</span> 
	<br>

    <label> Description: </label> <input type="text" placeholder="The Task is:" formControlName="descrptn"> 
    <span *ngIf="!newTask.controls.descrptn.valid">Must Enter Value</span> 
	<br> 
	
	<label> Hendler:</label>
		<select [(ngModel)] = this.newTask.controls.hendler.value  formControlName="hendler" > 
			<option *ngFor="let fam_membr of fam_membrs" value={{fam_membr.famid}} >
			{{fam_membr.famid+1}}.{{fam_membr.nick}}
		</select>  
		<span *ngIf="!newTask.controls.hendler.value">Must Select Hendler</span>
		
	<br>

	<input type="submit" value="Add Task" [disabled]="!newTask.valid"> <!--button is disabled until the form is valid-->
	<span *ngIf="newTask.valid && !task_added" > You may Add this task
	 </span>
	 <br>
	 <label> Task Creation Time: </label> <span>Automaticly Inserted When Adding Task </span>   
	 <br> <br> 	

</form>

<hr>
 
	<span *ngIf="task_added && !newTask.touched" >Previous Task Was Added </span>  
	
	
	<p *ngIf= newTask.touched>   Current Task data:<br> {{newTask.value | json}}</p> <!--showing by binding input fields-->

