
form {  
	background:lightsteelblue;
	font-size: 0.75em;
	padding: 1px;
	line-height: 30px;
}

form input {  
	margin-top: 1em; 
	background: wheat; 
} 

span{
	font-size: 0.5em;
	font-weight: bold;
	color: red;
	margin-left: 2px; 
}

p {
	font-size: 0.5em;
}
