div{
	border: 2px solid brown;
	background: gray;
	/* display: inline-block; */
	display: table;
    margin: 4px;
    padding: 2px;
	text-align: left;
	line-height: 20px;
	width:95% ;
}

h6{
	display: table-cell; 
}

